@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Edu+QLD+Hand:wght@400..700&family=Libertinus+Math&family=Mozilla+Headline:wght@200..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');

.card--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 890px;
    min-width: 890px;
}

.message--container {
    position: relative;
    top: 10px;
    z-index: 9;
    width: 50%;
    text-align: center;
    color: white;
    padding: 18px 10px;
    border-radius: 12px;
    /* font-family: "Edu QLD Hand","Mozilla Headline",Ubuntu; */
    font-family: Ubuntu;
    /* text-shadow: 1px 1px 6px black; */
}